In [1]:
import pandas

In [15]:
df=pandas.read_csv('data/sydtrains.csv', index_col=1, thousands=',')

In [5]:
df.head()

,LINE,YEAR,SURVEY_DATE_USED,WHETHER_SURVEYED,IN_0200_0600,OUT_0200_0600,IN_0600_0930,OUT_0600_0930,IN_0930_1500,OUT_0930_1500,IN_1500_1830,OUT_1500_1830,IN_1830_0200,OUT_1830_0200,IN_24_HOURS,OUT_24_HOURS,RANK,STATION_SORT_ID
STATION,,,,,,,,,,,,,,,,,,
Central,CBD,2014,6/05/2014,Yes,940,920,10390,42070,21400,30150,45370,16270,19010,7700,"97,110","97,110",1,101
Town Hall,CBD,2014,7/05/2014,Yes,880,880,6380,43210,16930,23550,43670,15270,21760,6720,"89,620","89,620",2,102
Wynyard,CBD,2014,20/05/2014,Yes,590,570,4710,39620,9200,11180,35010,6510,10690,2330,"60,200","60,200",3,103
Parramatta,Western,2014,19/11/2014,Yes,660,330,7790,13700,7400,7020,14960,8660,4150,5260,"34,960","34,960",4,905
North Sydney,North Shore,2014,19/08/2014,Yes,270,270,2340,18340,4450,5590,17760,3050,3790,1360,"28,610","28,610",5,1402

In [6]:
df2014 = df.groupby('year')

KeyError: 'year'

In [18]:
df2014=df[df.YEAR ==2014]

In [9]:
df2014.IN_0200_0600.idxmin(0)

'Green Square'

In [16]:
df2014.IN_0200_0600.sum()

16060L

In [19]:
df2014.IN_24_HOURS.sum()

1114510L

In [20]:
df2014.IN_24_HOURS

STATION
Central                     97110
Town Hall                   89620
Wynyard                     60200
Parramatta                  34960
North Sydney                28610
Redfern                     25680
Chatswood                   22200
Bondi Junction              21880
Strathfield                 20710
Circular Quay               20630
Martin Place                20630
Hurstville                  18290
St Leonards                 17590
Blacktown                   16560
Burwood                     14990
Kings Cross                 12870
Hornsby                     12250
Ashfield                    11200
Kogarah                     11100
Lidcombe                    10910
Auburn                      10890
Museum                      10860
Epping                      10570
Macquarie University        10090
St James                     9850
Rockdale                     9640
Cabramatta                   8730
Bankstown                    8630
Liverpool                    8350
Sutherland                   8320
                            ...
Menangle Park                  20
Port Kembla North              20
Scone                          20
Tarro                          20
Aberdeen                       10
Bombo                          10
Branxton                       10
Burradoo                       10
Coalcliff                      10
Dunmore (Shellharbour)         10
Exeter                         10
Greta                          10
Linden                         10
Marulan                        10
Menangle                       10
Paterson                       10
Scarborough                    10
Tallong                        10
Wondabyne                      10
Bell                            0
Hilldale                        0
Kembla Grange Racecourse        0
Lochinvar                       0
Lysaghts                        0
Mindaribba                      0
Penrose                         0
Wallarobba                      0
Wingello                        0
Wirragulla                      0
Zig Zag                         0
Name: IN_24_HOURS, dtype: int64

In [14]:
pandas.read_csv?

In [3]:
df.describe()

,YEAR,IN_0200_0600,OUT_0200_0600,IN_0600_0930,OUT_0600_0930,IN_0930_1500,OUT_0930_1500,IN_1500_1830,OUT_1500_1830,IN_1830_0200,OUT_1830_0200,RANK,STATION_SORT_ID
count,3367.000000,3367.000000,3367.000000,3367.000000,3367.000000,3367.000000,3367.000000,3367.000000,3367.000000,3367.000000,3367.000000,3367.000000,3367.000000
mean,2009.013959,47.528958,29.364419,1061.749332,1010.986041,712.803683,727.635878,1093.415503,1036.587467,324.359964,435.533116,152.623701,1190.570241
std,3.164360,96.815978,78.484683,1480.814320,4061.525304,1710.546289,2208.697265,4081.289303,1667.241032,1524.362855,789.198548,87.295273,577.821823
min,2004.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,101.000000
25%,2006.000000,10.000000,0.000000,90.000000,20.000000,40.000000,30.000000,30.000000,90.000000,10.000000,30.000000,77.000000,617.000000
50%,2009.000000,20.000000,10.000000,460.000000,140.000000,220.000000,190.000000,180.000000,410.000000,40.000000,150.000000,153.000000,1308.000000
75%,2012.000000,50.000000,20.000000,1430.000000,530.000000,620.000000,570.000000,590.000000,1300.000000,120.000000,480.000000,230.000000,1703.000000
max,2014.000000,940.000000,920.000000,10630.000000,43210.000000,21400.000000,30940.000000,45370.000000,16270.000000,24200.000000,7700.000000,299.000000,2029.000000